body {
	font-family: "Space Grotesk", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

nav {
	height: 68px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	img {
		height: 56px;
		width: 220px;
	}
}

p,
a {
	font-size: 20px;
	text-decoration: none;
	color: #191a23;
}

h1 {
	font-size: 60px;
	font-weight: 500;
	white-space: nowrap;
}

h2 {
	width: fit-content;
	font-size: 40px;
	font-weight: 500;
	display: inline-block;
}

h3 {
	font-size: 30px;
	font-weight: 500;
	white-space: nowrap;
	inline-size: auto;
	display: inline-block;
}

h4 {
	font-size: 20px;
	font-weight: 500;
	white-space: nowrap;
	inline-size: auto;
	display: inline-block;
}

.border {
	border-radius: 14px;
	padding: 5px;
}

.bg-green {
	background-color: #b9ff66;
}

.bg-white {
	background-color: #f3f3f3;
}

.white {
	color: white;
}

.bg-black {
	background-color: #191a23;
	border-radius: 14px;
	padding: 5px;
}

.navigation__links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;

	button {
		font-size: 20px;
		height: 68px;
		border: 1px solid #191a23;
		border-radius: 14px;
		background-color: transparent;
		color: #191a23;
		cursor: pointer;
		max-width: 231px;
		padding: 20px;
	}
}

.btn_black {
	width: 264px;
	height: 68px;
	background-color: #191a23;
	color: white;
	border-radius: 14px;
	font-size: 20px;
}

header {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	img {
		width: 600px;
		height: 515px;
	}

	.header__info {
		display: flex;
		flex-direction: column;
		gap: 35px;
		max-width: 500px;
	}
}

.logotypes {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.heading {
	margin-top: 140px;
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
}

.services {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.services__cardsection {
	display: flex;
	flex-direction: row;
	gap: 40px;
}
.services_cardsection__card {
	width: 600px;
	padding: 50px;
	border-radius: 50px;
	border: 1px solid #000;
	display: flex;
	gap: 69px;
	box-shadow: 0 4px #191a23; /* Тень снизу */

	flex-direction: row;

	.learn_more {
		cursor: pointer;
		margin-top: 93px;
		display: flex;
		flex-direction: row;
		gap: 6.5px;
		align-items: center;
		p {
			white-space: nowrap;
		}
	}
}

.services_cardsection__card__left {
	display: flex;
	flex-direction: column;
}

.cta {
	margin-top: 100px;
	height: 348px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	img {
		right: -10px;
		width: 359px;
		height: 395px;
		margin-right: 135px;
	}
	overflow: visible;
	background-color: #f3f3f3;
	border-radius: 45px;
	padding-top: 23px;
	padding-bottom: 23px;
}
.cta__text {
	display: flex;
	flex-direction: column;
	gap: 26px;
	margin-top: 60px;
	margin-left: 60px;
	margin-bottom: 60px;
}
.casestudies {
	margin-top: 80px;
	background-color: #191a23;
	border-radius: 45px;
	padding-top: 70px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: row;
	gap: 62px;
}
.vertical-line {
	width: 2px;
	height: 186px;
	background-color: white;
}
.casestudies__case {
	display: flex;
	flex-direction: column;
	gap: 20px;
	p {
		font-size: 18px;
		color: white;
	}
	a {
		color: #b9ff66;
	}
}

footer {
	margin-top: 140px;
	background-color: #191a23;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;

	padding-top: 55px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		font-size: 18px;
		color: white;
	}
	a {
		font-size: 18px;
		color: white;
	}
	.positivus {
		width: 180px;
	}
	.elements {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.icons {
			display: flex;
			flex-direction: row;
			gap: 20px;
		}
	}

	.links {
		display: flex;
		gap: 40px;
		a {
			white-space: nowrap;
			font-size: 18px;
			color: white;
			text-decoration: underline;
		}
	}
	.contacts {
		display: flex;
		flex-direction: row;
		gap: 154px;
		margin-top: 66px;
		align-items: center;
	}
	.contacts__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.contacts__subscribe {
		padding-top: 58px;
		padding-bottom: 58px;
		padding-left: 40px;
		padding-right: 40px;
		background-color: #292a32;
		display: flex;
		border-radius: 14px;
		gap: 20px;
		input {
			width: 285px;
			height: 67px;
			border: 1px solid #f3f3f3;
			border-radius: 14px;
			padding-left: 15px;
		}
		button {
			width: 249px;
			height: 67px;
			background-color: #b9ff66;
			border-radius: 14px;
		}
	}
	.privacy {
		width: 100%;
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		gap: 40px;
		a {
			text-decoration: underline;
		}
	}
}

.horisontal-line {
	margin-top: 50px;
	width: 1050px;
	height: 2px;
	background-color: white;
	display: flex;
}
